#modal-review-cod .modal-header {
  padding: 0px;
  background-color: #00904A !important;
  color: #FFFFFF;
  font-size: 16px;
  width: 100%;
  text-align: center;
  border-top-left-radius: 0.25rem!important;
  border-top-right-radius: 0.25rem!important;
}
#modal-review-cod .radioButton {
  background-color: #00904A;
  border-color: #00904A;
}

#modal-review-cod .my-buttons .btn-group-toggle label {
  margin: 5px;
  padding: 5px;
  border-radius: 3rem!important;
}

#modal-review-cod .my-buttons .btn-group-toggle label span {
  font-size: 15px !important;
}

#modal-review-cod .my-buttons .btn-group-toggle {
  display: flex;
  flex-wrap: wrap;
}

#modal-review-cod .my-buttons .btn-outline-success {
  color: #00904A;
}
#modal-review-cod .my-buttons .btn-outline-success.active {
  color: #fff;
}
#modal-review-cod .my-buttons .btn-outline-success:hover {
  color: #fff;
}

#modal-gchat-cod .modal-header {
  padding: 0px;
  background-color: #00904A !important;
  color: #FFFFFF;
  font-size: 16px;
  width: 100%;
  text-align: center;
  border-top-left-radius: 0.25rem!important;
  border-top-right-radius: 0.25rem!important;
}
#modal-gchat-cod .radioButton {
  background-color: #00904A;
  border-color: #00904A;
}

#modal-gchat-cod .my-buttons .btn-group-toggle label {
  margin: 5px;
  padding: 5px;
  border-radius: 3rem!important;
}

#modal-gchat-cod .my-buttons .btn-group-toggle label span {
  font-size: 15px !important;
}

#modal-gchat-cod .my-buttons .btn-group-toggle {
  display: flex;
  flex-wrap: wrap;
}

#modal-profile-time .modal-header {
  padding: 0px;
  background-color: #00904A !important;
  color: #FFFFFF;
  font-size: 16px;
  width: 100%;
  text-align: center;
  border-top-left-radius: 0.25rem!important;
  border-top-right-radius: 0.25rem!important;
}
#modal-profile-time .radioButton {
  background-color: #00904A;
  border-color: #00904A;
}

#modal-profile-time .my-buttons .btn-group-toggle label {
  margin: 5px;
  padding: 5px;
  border-radius: 3rem!important;
}

#modal-profile-time .my-buttons .btn-group-toggle label span {
  font-size: 15px !important;
}

#modal-profile-time .my-buttons .btn-group-toggle {
  display: flex;
  flex-wrap: wrap;
}
