.label-edit {
  margin-right: 0.5rem !important;
  min-width: 100px;
  text-align: left;
  display: unset !important;
}
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 5px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 14px;
  line-height: 1.42857;
}
