.loading-container {
    z-index: 999;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    overflow: hidden;

    &__wrapper-loader {
        @include animation(rotate 2s linear infinite);
        width: 100px;
        height: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -50px;
    }

    &__loader {
        @include image-background;
        position: relative;
        text-indent: -9999em;
        width: 100px;
        height: 100px;
        animation: basic-loading 1.4s infinite linear;
        transform: translateZ(0);
        background-image: url('../images/loading.png');
    }
}

.loading-container-wrapper {
    position: relative;

    &.loading_right {
        &:after {
            right: 10px;
        }

        .loading-container {
            width: calc(100% - 6px);
            height: calc(100% - 2px);
            top: 1px;
            left: 3px;

            &__wrapper-loader {
                width: 16px;
                height: 16px;
                left: initial;
                right: 10px;
                margin-top: -8px;
                margin-left: initial;
            }

            &__loader {
                width: 16px;
                height: 16px;
                @include animation(basic-loading 0.2s linear infinite);
            }
        }
    }
}

.loading_full_page {
    &>.loading-container {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 9999;
    }
}

@include keyframe(basic-loading) {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}